@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
background: red;
  
}

.container {
	max-width:360px;
	height: 750px;
	margin: 0 auto;
	background-color: #FAFF00;
}

.logo {
	text-align: center;
}

h1 {
    font-family: 'Lora', serif;
	font-size: 50px;
}

input[type="date"]{
    background-color: #fff;
    padding: 15px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 8px;
	margin-top: 35px;
	margin-left: 180px;
} 

::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.wrapper{
  width: 195px;
  height: 35px;
  background: #fff;
  padding: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding-top: 17px;
  margin: 0 auto;
}
.wrapper .input-data{
  height: 24px;
  position: relative;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  padding-left: 20px;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-8px);
  font-size: 15px;
  color: #4158d0;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}
.background {
	background: #fff;
	width: 195px;
	border-radius: 8px;
	margin: 0 auto;
	margin-top: 17px;
}

.group {
     height: 35px;
	 border-radius: 8px;
	 margin-left: 15px;
}

.title {
	text-align: center;
	font-size: 17px;
	color: grey;
}

#n1 {
	margin-top: 17px;
	border-radius: 8px;
	width: 195px;
    height: 35px;
}

#n2 {
	margin-bottom: 20px;
	border-radius: 8px;
	width: 195px;
    height: 35px;
}

#result {
	margin-bottom: 50px;
}

.bottom{ 
	
}

n1 ,n2 {
    outline:none;
}

// не показывать обводку в состоянии focus
input:focus, textarea:focus {
    outline:none;
}










